<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.TreeMapper">

    <update id="updatePosition" parameterType="com.jk.bean.Position">
        update t_position

        <set>
            <if test="psoitionName != null and psoitionName != ''">
                position_name = #{psoitionName}
            </if>
            <if test="psoitionCreatetime != null and psoitionCreatetime != ''">
                position_createtime = #{psoitionCreatetime}
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId}
            </if>

        </set>
        where position_id = #{psoitionId}
    </update>

</mapper>